<form class="form-container" id="formDadosPessoais" [formGroup]="formDadosPessoais"> <!-- (ngSubmit)="enviarFormulario()" -->

    <div class="row" id="row1">
        <!-- Input nome -->
        <div class="input-container">
            <label for="nome"> Nome: </label>
            <input inputId="nome" type="text" pInputText formControlName="nomeVal" placeholder="Nome" pSize="large"/>
            @if (dPCntrl['nomeVal'].invalid && dPCntrl['nomeVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>
    </div>

    <div class="row" id="row2">
        <!-- Input data -->
        <div class="input-container">
            <label for="dataNascimento"> Data de Nascimento: </label>
            <p-datepicker inputId="dataNascimento" [iconDisplay]="'input'" [showIcon]="true" formControlName="dataVal" dateFormat="dd/mm/yy" placeholder="DD/MM/YYYY" fluid size="large"/>
            @if (dPCntrl['dataVal'].invalid && dPCntrl['dataVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>

        <!-- Input estado civil -->
        <div class="input-container">
            <label for="estadoCivil"> Estado Civil: </label>
            <p-select inputId="estadoCivil" formControlName="ecVal" [options]="estCiv" optionLabel="viewValue" placeholder="Selecione" fluid size="large"/>
            @if (dPCntrl['ecVal'].invalid && dPCntrl['ecVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>

        <!-- Input sexo -->
        <div class="radio-button-group">
            <label> Sexo: </label>
            <div class="radio-button-container" id="div-no-pad">
              @for (op of opSx; track op) {
                <div class="radio-button-container" [id]="op.divId">
                    <p-radiobutton [inputId]="op.id"  name="sxVal" [value]="op.value" formControlName="sxVal"/>
                    <label [for]="op.id" class="ml-2">{{ op.viewValue }}</label>
                </div>
              }
            </div>
        </div>
    </div>

    <div class="row" id="row3">
        <!-- Input rg -->
        <div class="input-container">
            <label for="rg"> RG: </label>
            <p-inputmask #rg inputId="rg" formControlName="rgVal" mask="99.999.999-9" placeholder="99.999.999-9" size="large" autoClear="false"/>
            @if (dPCntrl['rgVal'].hasError('required') && dPCntrl['rgVal'].touched) {
                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
            } @else if (dPCntrl['rgVal'].hasError('pattern') && !rg.focused) {
                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 99.999.999-9</p-message>
            }
        </div>

        <!-- Input cpf -->
        <div class="input-container">
            <label for="cpf"> CPF: </label>
            <p-inputmask #cpf inputId="cpf" formControlName="cpfVal" mask="999.999.999-99" placeholder="999.999.999-99" size="large" autoClear="false" />
            @if (dPCntrl['cpfVal'].hasError('required') && dPCntrl['cpfVal'].touched) {
                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
            } @else if (dPCntrl['cpfVal'].hasError('pattern') && !cpf.focused) {
                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 999.999.999-99</p-message>
            }
        </div>

        <!-- Input CNH? -->
        <div class="radio-button-group">
            <label> Possui CNH?: </label>
            <div class="radio-button-container">
              @for (op of opCnh; track op) {
                  <div class="radio-button-container" [id]="op.divId">
                      <p-radiobutton [inputId]="op.id"  name="pCnhVal" [value]="op.value" formControlName="pCnhVal" (onClick)="alterarCatCnh()"/>
                      <label [for]="op.id">{{ op.viewValue }}</label>
                  </div>
              }
          </div>
        </div>

        <!-- Input categoria CNH -->
        <div class="input-container">
            <label for="catCnh"> Categoria CNH: </label>
            <p-multiselect inputId="catCnh" formControlName="catCnhVal" [options]="categoriasCnh" placeholder="Selecione" fluid size="large"/>
            @if (dPCntrl['catCnhVal'].invalid && dPCntrl['catCnhVal'].touched) {
                <p-message severity="error" variant="simple" size="small">Selecione uma das opções!</p-message>
            }
        </div>

    </div>

</form>
