<form style="padding: 2rem 0rem" id="formFormacao" [formGroup]="dialogFormExpPro">

  <!-- Dialog Formação -->
  <p-dialog #dialog header="Experiência Profissional" [modal]="true" [(visible)]="visible" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="true">

    <!-- Inputs -->
    <div class="dialog-input-container">
      <!-- Check Emprego Atual -->
      <div>
        <div class="checkbox-container">
          <label for="empregoAtual" > Emprego Atual? </label>
          <p-checkbox inputId="empregoAtual" formControlName="empAtualVal" binary="true" trueValue="S" falseValue="N" size="large"/>
        </div>
      </div>

      <!-- Input Nome Empresa -->
      <div class="input-container">
        <label for="nomeEmp"> Nome da Empresa:* </label>
        <input id="nomeEmp" type="text" pInputText formControlName="nomeEmpVal" autocomplete="off" pSize="large"/>
        @if (expProCntrl['nomeEmpVal'].invalid && expProCntrl['nomeEmpVal'].touched) {
          <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
        }
      </div>

      <!-- Select Tipo Empresa -->
      <div class="input-container">
        <label for="tipEmp"> Tipo de Empresa:* </label>
        <p-select inputId="tipEmp" formControlName="tipEmpVal" [options]="listaTipEmp" placeholder="Selecione" fluid size="large"/>
        @if (expProCntrl['tipEmpVal'].invalid && expProCntrl['tipEmpVal'].touched) {
            <p-message severity="error" variant="simple" size="small">Selecione antes de continuar!</p-message>
        }
      </div>

      <div class="row">
        <!-- Input Data Admissão -->
        <div class="input-container">
          <label for="dataAdmissao"> Data de Admissão:* </label>
          <p-datepicker inputId="dataAdmissao" [iconDisplay]="'input'" [showIcon]="true" formControlName="dtAdmVal" placeholder="DD/MM/YYYY" fluid size="large" dataType="string" [appendTo]="dialog"/>
          @if (expProCntrl['dtAdmVal'].invalid && expProCntrl['dtAdmVal'].touched) {
              <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
          }
        </div>

        <!-- Input Data Demissão -->
        <div class="input-container">
          <label for="dataDemissao"> Data de Demissão: </label>
          <p-datepicker inputId="dataDemissao" [iconDisplay]="'input'" [showIcon]="true" formControlName="dtDmsVal" placeholder="DD/MM/YYYY" fluid size="large" dataType="string" [appendTo]="dialog"/>
        </div>
      </div>

      <!-- Input Último Cargo -->
      <div class="input-container">
        <label for="ultCargo"> Último Cargo:* </label>
        <input id="ultCargo" type="text" pInputText formControlName="ultCargoVal" autocomplete="off" pSize="large"/>
        @if (expProCntrl['ultCargoVal'].invalid && expProCntrl['ultCargoVal'].touched) {
          <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
        }
      </div>

      <!-- Input Último Salário -->
      <div class="input-container">
        <label for="ultSalario"> Último Salário:* </label>
        <p-inputnumber inputId="ultSalario" formControlName="ultSalVal" mode="currency" currency="BRL" [minFractionDigits]="2" size="large" />
        @if (expProCntrl['ultSalVal'].invalid && expProCntrl['ultSalVal'].touched) {
          <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
        }
      </div>

      <!-- Input Resumo Atividades -->
      <div class="input-container">
        <label for="resumoAtvd"> Resumo das Atividades Realizadas:* </label>
        <textarea inputId="resumoAtvd" pTextarea rows="2" cols="30" formControlName="resAtvVal" autoResize="true" fluid pSize="large"></textarea>
      </div>

      <div class="title-container">
        <h3> Informações de Endereço (Empresa) </h3>
      </div>

      <!-- Input Endereço -->
      <div class="input-container">
        <label for="enderecoEmp"> Endereço: </label>
        <input id="enderecoEmp" type="text" pInputText placeholder="Endereço" formControlName="endEmpVal" autocomplete="off" pSize="large"/>
      </div>

      <div class="row">
        <!-- Input Estado -->
        <div class="input-container">
          <label for="estado"> Estado: </label>
          <p-select inputId="estado" formControlName="estadoEmpVal" [options]=""  optionLabel="viewValue" optionValue="value" placeholder="Selecione" fluid size="large"/>
        </div>

        <!-- Input Cidade -->
        <div class="input-container">
          <label for="cidade"> Cidade:* </label>
          <input id="cidade" type="text" pInputText formControlName="cidEmpVal" placeholder="Cidade" pSize="large"/>
        </div>

      </div>

      <div class="row">
        <!-- Input Bairro -->
        <div class="input-container">
          <label for="bairro"> Bairro: </label>
          <input id="bairro" type="text" pInputText formControlName="bairroEmpVal" placeholder="Bairro" pSize="large"/>
        </div>

        <!-- Input CEP -->
        <div class="input-container">
          <label for="cep"> CEP: </label>
          <p-inputmask #cep inputId="cep" formControlName="cepEmpVal" mask="99999-999" placeholder="CEP" size="large" autoClear="false" />
        </div>

      </div>

      <div class="title-container">
        <h3> Informações de Contato (Empresa) </h3>
      </div>

      <!-- Input E-mail -->
      <div class="input-container">
        <label for="emailEmp"> E-mail: </label>
        <input id="emailEmp" type="text" pInputText formControlName="emailEmpVal" pSize="large"/>
        @if (expProCntrl['emailEmpVal'].invalid && expProCntrl['emailEmpVal'].touched) {
          <p-message severity="error" variant="simple" size="small">E-mail inválido.</p-message>
        }
      </div>

      <!-- Input Telefone -->
      <div class="input-container">
        <label for="telefoneEmp"> Telefone: </label>
        <input id="telefoneEmp" type="text" pInputText formControlName="telEmpVal" autocomplete="off" pSize="large"/>
      </div>

    </div>

    <!-- Botões Dialog -->
    <div class="dialog-button-container">
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" size="large"/>
        <p-button label="Salvar" [disabled]="!ativarBotao()" (click)="salvarExpProfissional()" size="large"/>
    </div>

  </p-dialog>

  @if (experienciaPro.length > 0) {
    <p-confirmdialog />

    <p-table [value]="experienciaPro" [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" columnResizeMode="expand">
      <ng-template #header>
          <tr>
              <th pResizableColumn>Nome Empresa:</th>
              <th pResizableColumn>Data Admissão:</th>
              <th pResizableColumn>Último Cargo:</th>
              <th pResizableColumn>Último Salário:</th>
              <th pResizableColumn>Resumo Atividades:</th>
              <th style="width: 7rem;"></th>
          </tr>
      </ng-template>
      <ng-template #body let-exPro>
          <tr>
              <td>{{ exPro.nomeEmpVal }}</td>
              <td>{{ exPro.dtAdmVal }}</td>
              <td>{{ exPro.ultCargoVal }}</td>
              <td>R${{ exPro.ultSalVal }}</td>
              <td>{{ exPro.resAtvVal }}</td>
              <td>
                <p-button icon="pi pi-pencil" (click)="editarExpProfissional(exPro, experienciaPro.indexOf(exPro))" severity="secondary" rounded />
                <p-button icon="pi pi-trash" (click)="confirm($event, exPro, experienciaPro.indexOf(exPro))" severity="contrast" rounded />
              </td>
          </tr>
      </ng-template>
    </p-table>

    <div class="button-row">
      <p-button (click)="showDialog()" label="+ Adicionar" size="large"/>
    </div>
  } @else {
    <div class="button-row" style="justify-content: center;">
      <p-button (click)="showDialog()" label="Adicionar Experiência Profissional" size="large" severity="primary"/>
    </div>
  }

</form>
