
    <div style="padding-bottom: 2rem;">
        <h2>Cadastre seu Currículo</h2>
    </div>

    <p-tabs #tabs [value]="tabAtual" (valueChange)="setTab(tabs.value())" scrollable="true">

        <p-tablist>
            <p-tab [value]="0">Dados Pessoais</p-tab>
            <p-tab [value]="1">Endereço</p-tab>
            <p-tab [value]="2">Contato</p-tab>
            <p-tab [value]="3">Área de Interesse</p-tab>
            <p-tab [value]="4">Informações Adicionais</p-tab>
            <p-tab [value]="5">Formação</p-tab>
            <p-tab [value]="6">Experiências Profissionais</p-tab>
        </p-tablist>

        <p-tabpanels>
            <!-- Começo Dados Pessoais -->
            <p-tabpanel [value]="0" id="dadosPessoaisTab">
                <form class="form-container" id="formDadosPessoais" [formGroup]="formDadosPessoais" (ngSubmit)="enviarFormulario()">

                    <div class="row" id="row1">
                        <!-- Input nome -->
                        <div class="input-container">
                            <label for="nome"> Nome: </label>
                            <input inputId="nome" type="text" pInputText formControlName="nomeVal" placeholder="Nome" pSize="large"/>
                            @if (dPCntrl['nomeVal'].invalid && dPCntrl['nomeVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>
                    </div>
                    
                    <div class="row" id="row2">
                        <!-- Input data -->
                        <div class="input-container">
                            <label for="dataNascimento"> Data de Nascimento: </label>
                            <p-datepicker inputId="dataNascimento" [iconDisplay]="'input'" [showIcon]="true" formControlName="dataVal" dateFormat="dd/mm/yy" placeholder="DD/MM/YYYY" fluid size="large"/>
                            @if (dPCntrl['dataVal'].invalid && dPCntrl['dataVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>

                        <!-- Input estado civil -->
                        <div class="input-container">
                            <label for="estadoCivil"> Estado Civil: </label>
                            <p-select inputId="estadoCivil" formControlName="ecVal" [options]="estCiv" optionLabel="viewValue" placeholder="Selecione" fluid size="large"/>
                            @if (dPCntrl['ecVal'].invalid && dPCntrl['ecVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>
                        
                        <!-- Input sexo -->
                        <div class="radio-button-group">
                            <label> Sexo: </label>
                            <div class="radio-button-container" id="div-no-pad">
                              @for (op of opSx; track op) {
                                <div class="radio-button-container" [id]="op.divId">
                                    <p-radiobutton [inputId]="op.id"  name="sxVal" [value]="op.value" formControlName="sxVal"/>
                                    <label [for]="op.id" class="ml-2">{{ op.viewValue }}</label>
                                </div>
                              }
                            </div>
                        </div>
                    </div>

                    <div class="row" id="row3">
                        <!-- Input rg -->
                        <div class="input-container">
                            <label for="rg"> RG: </label>
                            <p-inputmask #rg inputId="rg" formControlName="rgVal" mask="99.999.999-9" placeholder="99.999.999-9" size="large" autoClear="false"/>
                            @if (dPCntrl['rgVal'].hasError('required') && dPCntrl['rgVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
                            } @else if (dPCntrl['rgVal'].hasError('pattern') && !rg.focused) {
                                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 99.999.999-9</p-message>
                            }
                        </div>

                        <!-- Input cpf -->
                        <div class="input-container">
                            <label for="cpf"> CPF: </label>
                            <p-inputmask #cpf inputId="cpf" formControlName="cpfVal" mask="999.999.999-99" placeholder="999.999.999-99" size="large" autoClear="false" />
                            @if (dPCntrl['cpfVal'].hasError('required') && dPCntrl['cpfVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
                            } @else if (dPCntrl['cpfVal'].hasError('pattern') && !cpf.focused) {
                                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 999.999.999-99</p-message>
                            }
                        </div>

                        <!-- Input CNH? -->
                        <div class="radio-button-group">
                            <label> Possui CNH?: </label>
                            <div class="radio-button-container">
                              @for (op of opCnh; track op) {
                                  <div class="radio-button-container" [id]="op.divId">
                                      <p-radiobutton [inputId]="op.id"  name="pCnhVal" [value]="op.value" formControlName="pCnhVal" (onClick)="alterarCatCnh()"/>
                                      <label [for]="op.id">{{ op.viewValue }}</label>
                                  </div>
                              }
                          </div>
                        </div>
        
                        <!-- Input categoria CNH -->
                        <div class="input-container">
                            <label for="catCnh"> Categoria CNH: </label>
                            <p-multiselect inputId="catCnh" [disabled]="desativarCnh" formControlName="catCnhVal" [options]="categoriasCnh" placeholder="Selecione" fluid size="large"/>
                            @if (dPCntrl['catCnhVal'].invalid && dPCntrl['catCnhVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">Selecione uma das opções!</p-message>
                            }
                        </div>

                    </div>
                    
                </form>

            </p-tabpanel>

            <!-- Começo Endereço -->
            <p-tabpanel [value]="1" id="enderecoTab">

                <form class="form-container" id="formEndereco" [formGroup]="formEndereco" (ngSubmit)="enviarFormulario()">
                    <div class="row" id="row4">
                        <!-- Input Endereço -->
                        <div class="input-container">
                            <label for="endereco"> Endereço: </label>
                            <input inputId="endereco" type="text" pInputText formControlName="endVal" placeholder="Endereço" pSize="large"/>
                            @if (endCntrl['endVal'].invalid && endCntrl['endVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>
                    </div>  

                    <div class="row" id="row5">
                        <!-- Input Bairro -->
                        <div class="input-container">
                            <label for="bairro"> Bairro: </label>
                            <input inputId="bairro" type="text" pInputText formControlName="bairroVal" placeholder="Bairro" pSize="large"/>
                            @if (endCntrl['bairroVal'].invalid && endCntrl['bairroVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>

                        <!-- Input Número -->
                        <div class="input-container">
                            <label for="numero"> Número: </label>
                            <p-input-number inputId="numero" formControlName="numVal" [useGrouping]="false" placeholder="Numero" size="large"/>
                            @if (endCntrl['numVal'].invalid && endCntrl['numVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>

                        <!-- Input Complemento -->
                        <div class="input-container">
                            <label for="complemento"> Complemento: </label>
                            <input inputId="complemento" type="text" pInputText formControlName="compVal" placeholder="Complemento" pSize="large"/>
                        </div>
                    </div>  

                    <div class="row" id="row6">
                        <!-- Input Estado -->
                        <div class="input-container">
                            <label for="estado"> Estado: </label>
                            <p-select inputId="estado" formControlName="estadoVal" [options]="estado" placeholder="Selecione" fluid size="large"/>
                            @if (endCntrl['estadoVal'].invalid && endCntrl['estadoVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>

                        <!-- Input Cidade -->
                        <div class="input-container">
                            <label for="cidade"> Cidade: </label>
                            <input inputId="cidade" type="text" pInputText formControlName="cidVal" placeholder="Cidade" pSize="large"/>
                            @if (endCntrl['cidVal'].invalid && endCntrl['cidVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>

                        <!-- Input CEP -->
                        <div class="input-container">
                            <label for="cep"> CEP: </label>
                            <p-inputmask #cep inputId="cep" formControlName="cepVal" mask="99999-999" placeholder="CEP" size="large" autoClear="false" />
                            @if (endCntrl['cepVal'].hasError('required') && endCntrl['cepVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
                            } @else if (endCntrl['cepVal'].hasError('pattern') && !cep.focused) {
                                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 99999-999</p-message>
                            }
                        </div>
                    </div>
                </form>

            </p-tabpanel>

            <!-- Começo Contato -->
            <p-tabpanel [value]="2" id="contatoTab">

                <form class="form-container" id="formContato" [formGroup]="formContato" (ngSubmit)="enviarFormulario()">
                    <div class="row" id="row6">
                        <div class="input-container">
                            <label for="telResidencial"> Telefone Residencial: </label>
                            <p-input-group>
                                <input inputId="telResidencial" type="text" pInputText formControlName="telResVal" placeholder="Telefone" pSize="large"/>
                                <p-inputgroup-addon>
                                    <i class="pi pi-phone" style="font-size: 1.5rem"></i>
                                </p-inputgroup-addon>
                            </p-input-group>
                        </div>

                        <div class="input-container">
                            <label for="celular"> Celular:* </label>
                            <div class="input-icon-container">
                                <p-input-mask inputId="celular" formControlName="celVal" mask="(99)999999999" slotChar=" " placeholder="Celular" size="large" autoClear="false"/>
                                <p-inputgroup-addon>
                                    <i class="pi pi-mobile" style="font-size: 1.5rem"></i>
                                </p-inputgroup-addon>
                            </div>
                            @if (contCntrl['celVal'].invalid && contCntrl['celVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
                            }
                        </div>
                    </div>

                    <div class="row" id="row7">
                        <div class="input-container">
                            <label for="email"> E-mail:* </label>
                            <p-input-group>
                                <input #email inputId="email" type="text" pInputText formControlName="emailVal" placeholder="exemplo@email.com" pSize="large"/>
                                <p-inputgroup-addon>
                                    <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
                                </p-inputgroup-addon>
                            </p-input-group>
                            @if (contCntrl['emailVal'].hasError('required') && contCntrl['emailVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
                            } @else if (contCntrl['emailVal'].hasError('email') && contCntrl['emailVal'].touched) {
                                <p-message severity="error" variant="simple" size="small">E-mail inválido.</p-message>
                            }
                        </div>

                        <div class="input-container">
                            <label for="linkedin"> LinkedIn: </label>
                            <p-input-group>
                                <input inputId="linkedin" type="text" pInputText formControlName="lkdInVal" pSize="large"/>
                                <p-inputgroup-addon>
                                    <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
                                </p-inputgroup-addon>
                            </p-input-group>
                        </div>
                    </div>

                    <div class="row" id="row8">
                        <div class="input-container">
                            <label for="facebook"> Facebook: </label>
                            <p-inputgroup>
                                <input inputId="facebook" type="text" pInputText formControlName="facebookVal" pSize="large"/>
                                <p-inputgroup-addon>
                                    <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
                                </p-inputgroup-addon>
                            </p-inputgroup>
                        </div>

                        <div class="input-container">
                            <label for="instagram"> Instagram: </label>
                            <p-inputgroup>
                                <input inputId="instagram" type="text" pInputText formControlName="instagramVal" pSize="large"/>
                                <p-inputgroup-addon>
                                    <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
                                </p-inputgroup-addon>
                            </p-inputgroup>
                        </div>
                    </div>

                </form>

            </p-tabpanel>

            <p-tabpanel [value]="3" id="areaDeInteresseTab">

            </p-tabpanel>

            <p-tabpanel [value]="4" id="informacoesAdicionaisTab">

            </p-tabpanel>

            <p-tabpanel [value]="5" id="formacaoTab">

            </p-tabpanel>

            <p-tabpanel [value]="6" id="experienciasProfissionaisTab">

            </p-tabpanel>

        </p-tabpanels>
    </p-tabs>

    <div class="button-container">
        @if (tabAtual === 2) {
            <p-button
                    severity="success"
                    (onClick)="enviarFormulario()"
                    [raised]="ativarBotao()"
                    ngDefaultControl
                    [disabled]="!ativarBotao()"
                    size="large">
                Enviar
            </p-button>
        } @else {
            <p-button
                    (onClick)="enviarFormulario()"
                    [raised]="ativarBotao()"
                    ngDefaultControl
                    [disabled]="!ativarBotao()"
                    size="large">
                Próximo
            </p-button>
        }


        <p-button
                [raised]="tabAtual != 0"
                ngDefaultControl
                (click)="voltarTab()"
                [disabled]="tabAtual === 0"
                size="large">
            Anterior
        </p-button>
    </div>

<!-- @if(deveMostrarTitulo){
    <h1>Titulo AAAA</h1>
} @else {
    <h2>Não é um titulo</h2>
}

@for (item of listaTeste; track item) {
    <li>{{ item }}</li>
} -->
