.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 0px;
    gap: 1.5rem;
}

.row{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.radio-button-group {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.radio-button-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.button-container {
    display: flex;
    direction: rtl;
    padding-right: 0.5rem;
    gap: 1rem;
}

.input-icon-container {
    display: flex;
    width: 100%;
    align-items: center;
    --p-inputtext-border-radius: var(--border-radius-ajuste)

}

.input-icon-container p-input-mask {
    flex-grow: 1;
    width: 100%;
}

.input-icon-container p-inputgroup-addon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    height: 44px;
}


#div-pad {
    padding-right: 1.5rem;
}

@media (max-width: 1000px) {
    .row{
        flex-wrap: wrap;
    }
}