<div class="ui-container">
    <h2>Cadastre seu Currículo</h2>

    <!-- <mat-tab-group [selectedIndex]="tabSelecionada.value" (selectedIndexChange)="tabSelecionada.setValue($event)"> -->
    <p-tabs [value]="tabAtual">

        <p-tablist>
            <p-tab [value]="0">Dados Pessoais</p-tab>
            <p-tab [value]="1">Endereço</p-tab>
            <p-tab [value]="2">Contato</p-tab>
        </p-tablist>

        <p-tabpanels>
            <!-- Começo Dados Pessoais -->
            <p-tabpanel [value]="0">
                <form class="form-container">
                    <div class="row" id="row1">
                        <div class="input-container">
                            <label for="nome"> Nome: </label>
                            <input inputId="nome" type="text" pInputText [formControl]="nomeVal" placeholder="Nome" pSize="large"/>
                            @if (nomeVal.invalid && nomeVal.touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>
                    </div>

                    <div class="row" id="row2">
                        <!-- Input data -->
                        <div class="input-container">
                            <label for="dataNascimento"> Data de Nascimento: </label>
                            <p-datepicker inputId="dataNascimento" [iconDisplay]="'input'" [showIcon]="true" [formControl]="dataVal" dateFormat="dd.mm.yy" placeholder="DD/MM/YYYY" fluid size="large"/>
                            @if (dataVal.invalid && dataVal.touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>

                        <!-- Input estado civil -->
                        <div class="input-container">
                            <label for="estadoCivil"> Estado Civil: </label>
                            <p-select inputId="estadoCivil" [formControl]="ecVal" [options]="estCiv" optionLabel="viewValue" placeholder="Selecione" fluid size="large"/>
                            @if (ecVal.invalid && ecVal.touched) {
                                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
                            }
                        </div>

                        <!-- Input sexo -->
                        <div class="radio-button-group">
                            <label> Sexo: </label>
                            <div class="radio-button-container">
                                <div class="radio-button-container">
                                    <p-radiobutton inputId="sx1"  name="sexo" value="F" [(ngModel)]="gender"/>
                                    <label for="sx1" class="ml-2">Feminino</label>
                                </div>
                                <div class="radio-button-container">
                                    <p-radiobutton inputId="sx2" name="sexo" value="M" [(ngModel)]="gender"/>
                                    <label for="sx2" class="ml-2">Masculino</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="row3">
                        <!-- Input rg -->
                        <div class="input-container">
                            <label for="rg"> RG: </label>
                            <p-inputmask #rg inputId="rg" [formControl]="rgVal" mask="99.999.999-9" placeholder="99.999.999-9" size="large" autoClear="false"/>
                            @if (rgVal.hasError('required') && rgVal.touched) {
                                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
                            } @else if (rgVal.hasError('pattern') && !rg.focused) {
                                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 99.999.999-9</p-message>
                            }
                        </div>

                        <!-- Input cpf -->
                        <div class="input-container">
                            <label for="cpf"> CPF: </label>
                            <p-inputmask #cpf inputId="cpf" [formControl]="cpfVal" mask="999.999.999-99" placeholder="999.999.999-99" size="large" autoClear="false" />
                            @if (cpfVal.hasError('required') && cpfVal.touched) {
                                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
                            } @else if (cpfVal.hasError('pattern') && !cpf.focused) {
                                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 999.999.999-99</p-message>
                            }
                        </div>

                        <!-- Input CNH? -->
                        <div class="radio-button-group2">
                            <label> Possui CNH?: </label>
                            @for (op of opCnh; track op) {
                                <div class="radio-button-container">
                                    <p-radiobutton [inputId]="op.id"  name="pcnh" [value]="op.value" [(ngModel)]="pcnh" (onClick)="alterarCatCnh()"/>
                                    <label [for]="op.id">{{ op.viewValue }}</label>
                                </div>
                            }
                        </div>
        
                        <!-- Input categoria CNH -->
                        <div class="input-container">
                            <label for="catCnh"> Categoria CNH: </label>
                            <p-multiselect inputId="catCnh" [disabled]="desativarCnh" [formControl]="catCnhVal" [(ngModel)]="valueCatCnh" [options]="categoriasCnh" placeholder="Selecione" fluid size="large"/>
                            @if (catCnhVal.invalid && catCnhVal.touched) {
                                <p-message severity="error" variant="simple" size="small">Selecione uma das opções!</p-message>
                            }
                        </div>

                    </div>
                </form>

            </p-tabpanel>

            <!-- Começo Endereço -->
            <p-tabpanel [value]="1">

                <form class="form-container">
                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>    

                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>

                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>

                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>

                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>
                </form>

            </p-tabpanel>

            <!-- Começo Contato -->
            <p-tabpanel [value]="2">

                <form class="form-container">
                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>    

                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>

                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>

                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>

                        <div class="input-container">
                            <label> Nome: </label>
                            <input type="text" pInputText placeholder="Nome" pSize="large"/>
                        </div>
                    </div>
                </form>

            </p-tabpanel>

        </p-tabpanels>
    </p-tabs>

    <div class="button-container">
        <p-button
                [raised]="tabAtual != 2"
                ngDefaultControl
                (click)="proximaTab()"
                [disabled]="tabAtual === 2"
                size="large"
                severity="secondary">
            Próximo
        </p-button>

        <p-button
                [raised]="tabAtual != 0"
                ngDefaultControl
                (click)="voltarTab()"
                [disabled]="tabAtual === 0"
                size="large">
            Anterior
        </p-button>
    </div>

</div> 


<!-- @if(deveMostrarTitulo){
    <h1>Titulo AAAA</h1>
} @else {
    <h2>Não é um titulo</h2>
}

@for (item of listaTeste; track item) {
    <li>{{ item }}</li>
} -->