.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.checkbox-label {
  font-size: 1.1rem;
}

.checkbox-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 4rem;
}

@media (max-width: 1350px) {
  .checkbox-row{
    gap: 1.5rem;
  }
}
