<router-outlet />

<div class="ui-container">

    <div style="padding-bottom: 2rem;">
        <h2>Cadastre seu Currículo</h2>
    </div>

    <p-tabs #tabs [value]="tabAtualMain" (valueChange)="setTab(tabs.value())" scrollable="true">

        <p-tablist>
            <p-tab [value]="0">Dados Pessoais</p-tab>
            <p-tab [value]="1">Endereço</p-tab>
            <p-tab [value]="2">Contato</p-tab>
            <p-tab [value]="3">Área de Interesse</p-tab>
            <p-tab [value]="4">Informações Adicionais</p-tab>
            <p-tab [value]="5">Formação</p-tab>
            <p-tab [value]="6">Experiência Profissional</p-tab>
        </p-tablist>

        <p-tabpanels>

            <!-- Form Dados Pessoais -->
            <p-tabpanel [value]="0" id="dadosPessoaisTab">
              <app-dados-pessoais-form [formDadosPessoais]="dadosPessoaisForm"/>
            </p-tabpanel>

            <!-- Form Endereço -->
            <p-tabpanel [value]="1" id="enderecoTab">
              <app-endereco-form [formEndereco]="enderecoForm"/>
            </p-tabpanel>

            <!-- Form Contato -->
            <p-tabpanel [value]="2" id="contatoTab">
              <app-contato-form [formContato]="contatoForm"/>
            </p-tabpanel>

            <!-- Form Área de Interesse -->
            <p-tabpanel [value]="3" id="areaDeInterresseTab">
              <app-area-interesse-form [formAreaInteresse]="areaInteresseForm"/>
            </p-tabpanel>

            <!-- Form Informações Adicionais -->
            <p-tabpanel [value]="4" id="informacoesAdicionaisTab">
              <app-infos-adicionais-form [formInfosAdicionais]="infosAdicionaisForm" />
            </p-tabpanel>

            <!-- Form Formação -->
            <p-tabpanel [value]="5" id="formacaoTab">
              <app-formacao-form [formFormacao]="formacaoForm"/>
            </p-tabpanel>

            <!-- Form Experiência Profissional -->
            <p-tabpanel [value]="6" id="experienciaProfissionalTab">
              <app-experiencia-profissional-form [formExpProfissional]="experienciaProfissionalForm"/>
            </p-tabpanel>

        </p-tabpanels>

    </p-tabs>

    <app-botoes [tabAtual]='tabAtualMain' (tabEvent)="setTab($event)" [formPrincipal]="form"/>

</div>
