<router-outlet />

<div class="ui-container">

    <div style="padding-bottom: 2rem;">
        <h2>Cadastre seu Currículo</h2>
    </div>

    <p-tabs #tabs [value]="tabAtualMain" (valueChange)="setTab(tabs.value())" scrollable="true">

        <p-tablist>
            <p-tab [value]="0">Dados Pessoais</p-tab>
            <p-tab [value]="1">Endereço</p-tab>
            <p-tab [value]="2">Contato</p-tab>
            <p-tab [value]="3">Área de Interesse</p-tab>
            <p-tab [value]="4">Informações Adicionais</p-tab>
            <p-tab [value]="5">Formação</p-tab>
            <p-tab [value]="6">Experiência Profissional</p-tab>
        </p-tablist>

        <p-tabpanels>

            <!-- Form Dados Pessoais -->
            <p-tabpanel [value]="0" id="dadosPessoaisTab">
                <app-dados-pessoais-form />
            </p-tabpanel>

            <!-- Form Endereço -->
            <p-tabpanel [value]="1" id="enderecoTab">
                <app-endereco-form/>
            </p-tabpanel>

            <!-- Form Contato -->
            <p-tabpanel [value]="2" id="contatoTab">
                <app-contato-form/>
            </p-tabpanel>

            <!-- Form Área de Interesse -->
            <p-tabpanel [value]="3" id="areaDeInterresseTab">
                <p>placeholder</p>
            </p-tabpanel>

            <!-- Form Informações Adicionais -->
            <p-tabpanel [value]="4" id="informacoesAdicionaisTab">
                <p>placeholder</p>
            </p-tabpanel>

            <!-- Form Formação -->
            <p-tabpanel [value]="5" id="formacaoTab">
                <p>placeholder</p>
            </p-tabpanel>

            <!-- Form Experiência Profissional -->
            <p-tabpanel [value]="6" id="experienciaProfissionalTab">
                <p>placeholder</p>
            </p-tabpanel>

        </p-tabpanels>

    </p-tabs>

    <app-botoes [tabAtual]='tabAtualMain' (tabEvent)="setTab($event)"/>

</div>