<form class="form-container" id="formEndereco" [formGroup]="formEndereco"> <!-- (ngSubmit)="enviarFormulario() -->
    <div class="row" id="row4">
        <!-- Input Endereço -->
        <div class="input-container">
            <label for="endereco"> Endereço: </label>
            <input id="endereco" type="text" pInputText formControlName="endVal" placeholder="Endereço" pSize="large"/>
            @if (endCntrl['endVal'].invalid && endCntrl['endVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>
    </div>

    <div class="row" id="row5">
        <!-- Input Bairro -->
        <div class="input-container">
            <label for="bairro"> Bairro: </label>
            <input id="bairro" type="text" pInputText formControlName="bairroVal" placeholder="Bairro" pSize="large"/>
            @if (endCntrl['bairroVal'].invalid && endCntrl['bairroVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>

        <!-- Input Número -->
        <div class="input-container">
            <label for="numero"> Número: </label>
            <p-input-number id="numero" formControlName="numVal" [useGrouping]="false" placeholder="Numero" size="large"/>
            @if (endCntrl['numVal'].invalid && endCntrl['numVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>

        <!-- Input Complemento -->
        <div class="input-container">
            <label for="complemento"> Complemento: </label>
            <input id="complemento" type="text" pInputText formControlName="compVal" placeholder="Complemento" pSize="large"/>
        </div>
    </div>

    <div class="row" id="row6">
        <!-- Input Estado -->
        <div class="input-container">
            <label for="estado"> Estado: </label>
            <p-select id="estado" formControlName="estadoVal" [options]="estado" placeholder="Selecione" fluid size="large"/>
            @if (endCntrl['estadoVal'].invalid && endCntrl['estadoVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>

        <!-- Input Cidade -->
        <div class="input-container">
            <label for="cidade"> Cidade: </label>
            <input id="cidade" type="text" pInputText formControlName="cidVal" placeholder="Cidade" pSize="large"/>
            @if (endCntrl['cidVal'].invalid && endCntrl['cidVal'].touched) {
                <p-message severity="error" variant="simple" size="small">O campo é obrigatório!</p-message>
            }
        </div>

        <!-- Input CEP -->
        <div class="input-container">
            <label for="cep"> CEP: </label>
            <p-inputmask #cep id="cep" formControlName="cepVal" mask="99999-999" placeholder="CEP" size="large" autoClear="false" />
            @if (endCntrl['cepVal'].hasError('required') && endCntrl['cepVal'].touched) {
                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
            } @else if (endCntrl['cepVal'].hasError('pattern') && !cep.focused) {
                <p-message severity="error" variant="simple" size="small">Formato inválido. Use: 99999-999</p-message>
            }
        </div>
    </div>
</form>
