<form class="form-container" id="formContato" [formGroup]="formContato">
    <div class="row" id="row6">
        <div class="input-container">
            <label for="telResidencial"> Telefone Residencial: </label>
            <p-input-group>
                <input id="telResidencial" type="text" pInputText formControlName="telResVal" autocomplete="off" placeholder="Telefone" pSize="large"/>
                <p-inputgroup-addon>
                    <i class="pi pi-phone" style="font-size: 1.5rem"></i>
                </p-inputgroup-addon>
            </p-input-group>
        </div>

        <div class="input-container">
            <label for="celular"> Celular:* </label>
            <div class="input-icon-container">
                <p-input-mask id="celular" formControlName="celVal" mask="(99)999999999" slotChar=" " placeholder="Celular" size="large" autoClear="false"/>
                <p-inputgroup-addon>
                    <i class="pi pi-mobile" style="font-size: 1.5rem"></i>
                </p-inputgroup-addon>
            </div>
            @if (contCntrl['celVal'].invalid && contCntrl['celVal'].touched) {
                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
            }
        </div>
    </div>

    <div class="row" id="row7">
        <div class="input-container">
            <label for="email"> E-mail:* </label>
            <p-input-group>
                <input #email id="email" type="text" pInputText formControlName="emailVal" placeholder="exemplo@email.com" pSize="large"/>
                <p-inputgroup-addon>
                    <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
                </p-inputgroup-addon>
            </p-input-group>
            @if (contCntrl['emailVal'].hasError('required') && contCntrl['emailVal'].touched) {
                <p-message severity="error" variant="simple" size="small">Preencha o campo antes de continuar!</p-message>
            } @else if (contCntrl['emailVal'].hasError('email') && contCntrl['emailVal'].touched) {
                <p-message severity="error" variant="simple" size="small">E-mail inválido.</p-message>
            }
        </div>

        <div class="input-container">
            <label for="linkedin"> LinkedIn: </label>
            <p-input-group>
                <input id="linkedin" type="text" pInputText autocomplete="off" formControlName="lkdInVal" pSize="large"/>
                <p-inputgroup-addon>
                    <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
                </p-inputgroup-addon>
            </p-input-group>
        </div>
    </div>

    <div class="row" id="row8">
        <div class="input-container">
            <label for="facebook"> Facebook: </label>
            <p-inputgroup>
                <input id="facebook" type="text" pInputText autocomplete="off" formControlName="facebookVal" pSize="large"/>
                <p-inputgroup-addon>
                    <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>

        <div class="input-container">
            <label for="instagram"> Instagram: </label>
            <p-inputgroup>
                <input id="instagram" type="text" pInputText autocomplete="off" formControlName="instagramVal" pSize="large"/>
                <p-inputgroup-addon>
                    <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
    </div>

</form>
