/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body {
    height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-inputmask {
    width: 100%;
}

.p-tabs {
    --p-tabs-tabpanel-padding: 0px;
}

.p-textarea{
  min-height: 4rem;
}

.ui-container {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    padding: 2rem 6rem;
}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0rem;
    gap: 1.5rem;
}

.row{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.button-row {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 2rem 0rem;
}

.dialog-button-container{
  display: flex;
  gap: 1rem;
  padding-top: 3rem;
  justify-content: right;
}

.dialog-input-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
}

.table-button-container {
  display: flex;
  gap: 1.5rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.checkbox-label {
  font-size: 1.1rem;
}

.checkbox-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 4rem;
}

@media (max-width: 1350px) {
  .checkbox-row{
    gap: 1.5rem;
  }
}


@media (max-width: 1000px) {
    .ui-container{
        width: auto;
        padding: 2rem 2rem;
    }

    .row{
        flex-wrap: wrap;
    }
}
