/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-inputmask {
  width: 100%;
}

.p-tabpanels {
  --p-tabs-tabpanel-padding: 0rem 1rem 1rem 1rem;
  border-radius: 0px 0px 12px 12px;
}

.p-tablist {
  border-radius: 12px 12px 0px 0px;
}

.p-textarea {
  min-height: 4rem;
}

.ui-container {
  width: 100%;
  padding: 2rem 6rem;
  max-width: 1024px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 1.5rem;
}

.row {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.button-row {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 2rem 0rem;
}

.dialog-button-container {
  display: flex;
  gap: 1rem;
  padding-top: 3rem;
  justify-content: right;
}

.dialog-input-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
}

.table-button-container {
  display: flex;
  gap: 1.5rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.checkbox-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
}


@media (max-width: 1000px) {
  .ui-container {
    width: auto;
    padding: 2rem 2rem;
  }

  .row {
    flex-wrap: wrap;
  }
}
